.sectionHeader {
	font-size: 64px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}

.experienceSection {
	/* display: "flex";
	justify-content: "center"; */
}

.experienceToggleWrapper {
	display: "flex";
	justify-content: "center";
}

.experienceCard {
	width: 90%;
	text-align: left;
	background-color: white;
	align-self: center;
	padding: 30px;
	border-radius: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	/* box-shadow: 5px 5px #f6f6f6; */
}

.experienceImageContainer {
	min-width: 200px;
	height: 200px;
	overflow: hidden;
	margin-right: 50px;
}

.experienceImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.experienceRole {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}

.experienceOrg {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 6px;
	margin-right: 10px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}

.experienceDate {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
	color: grey;
}

.experienceLocation {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 6px;
	margin-left: 10px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}
