.sectionHeader {
	font-size: 64px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
}

.aboutSectionContent {
	align-self: center;
}

.aboutTextContainer {
	width: 550px;
	margin-right: 50px;
	/* padding-top: 20px; */
}

.cartoon {
	width: 200px;
	height: 313.02px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.aboutPara {
	margin-bottom: 30px;
	text-align: left;
}

.experienceSection {
	/* display: "flex";
	justify-content: "center"; */
}

.experienceToggleWrapper {
	display: "flex";
	justify-content: "center";
	margin-bottom: 20px;
}

.experienceCard {
	min-width: 960px;
	text-align: left;
	background-color: white;
	align-self: center;
	padding: 30px;
	padding-right: 50px;
	padding-bottom: 10px;
	border-radius: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 30px;
}

.experienceBlurb {
	margin-bottom: 20px;
}

.experienceImageContainer {
	min-width: 70px;
	max-width: 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 30px;
}

.experienceImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.experienceRole {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}

.experienceOrg {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 6px;
	margin-right: 10px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
}

.experienceDate {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
	color: grey;
}

.experienceLocation {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 6px;
	margin-left: 10px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
}

.experienceDescription {
	font-size: 15px;
	line-height: 150%;
}

.experienceDescription li {
	list-style: none;
	padding-left: 20px;
	position: relative;
}

.experienceDescription li::before {
	content: "•";
	position: absolute;
	left: 0;
	top: 0;
	padding-right: 5px;
}

.projectCard {
	min-width: 960px;
	text-align: left;
	background-color: white;
	align-self: center;
	padding: 30px;
	padding-right: 50px;
	padding-bottom: 10px;
	border-radius: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 30px;
}

.projectImageContainer {
	margin-right: 30px;
}

.projectImage {
	height: 140px;
	width: 450px;
	border-radius: 16px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.projectName {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, -apple-system, Roboto;
}

.projectDate {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	margin-bottom: 6px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
	color: grey;
}

.projectDescription {
	margin-bottom: 20px;
}

.contactSection {
	align-self: center;
	margin-bottom: 100px;
}

.contactButton {
	width: 300px;
	padding: 10px;
	border-color: black;
	border-width: 2px;
	border-radius: 8px;
	color: black;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "San Francisco", "SF Pro Text", Inter, Helvetica, -apple-system,
		Roboto;
}

.contactButton:hover {
	color: var(--blue);
	border-width: 2px;
}

.contactButton:active {
	color: var(--pink);
	border-width: 2px;
	border-color: var(--pink);
}
